# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# Fabric
run/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# JVM Crash logs
hs_err_pid*
